@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap");

*,
a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #fff5eb;
}
section {
  min-height: 50vh;
  margin-top: 5em;
  /* background-color: #ff7f2a; */
}
.card {
  border: none;
  border-radius: 1em;
}

/* Navbar */
nav {
  background-color: #fff5eb;
  /* height: 15vh; */
}
nav .container .collapse ul li .nav-link:hover {
  color: #ff7f2a !important;
}

nav .container .collapse .btn-signin {
  padding: 10px 45px;
  border-radius: 30px;
  transition: 0.5s;
}

nav .container .collapse .btn-signin:hover {
  background-color: #ff7f2a;
  border: none;
}

/* Banner */
.kata {
  margin-top: 4em;
}
.upi {
  letter-spacing: 0.25em;
}

.btn-banner-wrapper {
  margin-top: 7em;
  /* background-color: #ff7f2a; */
}

button.kenali {
  padding: 10px 45px;
  border-radius: 30px;
  transition: 0.5s;
  background-color: #ff7f2a;
  border: #ff7f2a;
  color: #ffffff;
}
button.gabung {
  padding: 10px 55px;
  border-radius: 30px;
  transition: 0.5s;
}

.btn-banner:hover {
  opacity: 0.8;
  color: white;
}

/* WHY ? DEVISI */
.card-devisi {
  border-radius: 1em;
}

/* WHO US */

.struktural .struktural-card .profil {
  width: 13em;
  opacity: 0.7;
  transition: 0.3s;
}

.struktural .struktural-card .profil:hover {
  width: 14em;
  opacity: 1;
  margin-top: -1em;
  cursor: pointer;
}

.struktural .struktural-card .card a:hover {
  opacity: 0.8;
}

.selengkapnya {
  width: 15%;
  padding: 10px 5px;
  border-radius: 30px;
  background-color: #ff7f2a;
  transition: 0.5s;
  border: none;
  color: white;
  margin: 0 auto;
}
.selengkapnya:hover {
  opacity: 0.8;
}

/* BEST MOMENT */
.best-moment .row .card-moment {
  min-height: 50vh;
  border: none;
  border-radius: 1em;
}

/* Best Moment */

/* Best Stories */
.best-stories .card {
  min-height: 25em;
}

@media (min-width: 1400px) {
  section {
    min-height: 60vh;
  }
  .banner {
    margin-top: 13em;
  }

  section {
    margin-top: 15em;
  }
}
/* Untuk Handphone */
@media (max-width: 768px) {
  .container {
    width: 95%;
  }
  section {
    min-height: 100vh;
  }
  /* Banner */
  .banner {
    margin-top: 1em;
  }

  .upi {
    letter-spacing: 0.15em;
  }

  .btn-banner-wrapper {
    margin-top: 3em;
    /* background-color: #ff7f2a; */
  }

  .img-banner img {
    width: 22em;
  }

  /* WHO US */
  section.struktural {
    margin-top: 7em;
  }
  .selengkapnya {
    width: 60%;
  }

  /* Untuk tablet */
}
